<!DOCTYPE html>
<html>

<head>
    <title>Kayıtlı Kullanıcılar</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }

        table {
            margin: 0 auto;
            border-collapse: collapse;
            width: 50%;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>Kayıtlı Kullanıcılar Listesi</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Ana Sayfaya Dön</a>
</body>

</html>